@charset 'utf-8';
@import url('common.css');



/* category-nav */
.category{
    display: flex;
    width: 90%;
}
.category-nav-con{
    width: 28%;
    display: flex;
    justify-content: flex-end;
}
.category-nav{
    text-align: center;
    /* margin:3em; */
    margin-top: 8em;
    line-height: 2em;
    margin-right: 4em;
}
.category-nav a:hover{
    font-weight: bold;
    text-decoration: underline;
}

/* category-header */
.category-header{
    width:100%;
    /* margin-left: 20px; */
}
.category-header h2{
    margin-bottom: 2em;
}
.size-search {
    display: flex;
    align-items: center;
}
.size-search div{
    margin:0 7.5px;
}
.size-search input[type="radio"]{
    display: none;
}

.size-search input + label span{
    display: flex;
    justify-content: center;
    align-items: center;
    width:48px;
    height:48px;
    border: 1px solid;
    border-radius: 2em;
}
.size-search input:checked + label span{
    background: lightgray;
    color: white;
}


/* 검색 */

.category-search{
    margin-left:auto;
    /* margin-right:1.5em; */
    position:relative;
    /* display:block; */
    /* top:1em; */
    /* border:1px solid; */
}
.category-search input[type="search"]{
    border: 0;
    border-bottom: 2px solid;
    right:0.2em; bottom:0;
    position: absolute;
}
.category-search input[type="search"]:focus{
    outline:none;
}
.category-search input[type="submit"]{
    position:absolute;
    right:-0.2em; bottom:0;
    background: none;
    border:0;
}
/* .category-search input[type="image"]{
    position:absolute;
    right:0; bottom:0.3em;
} */

.category-search input[type="submit"]:hover{
    color:lightgray;
}

/* 선택상자 */
#category-select{
    border: 0;
    border-bottom:1px solid;
    font-size: 1.2em;
    padding:1em;
    margin-bottom: 3em;
    /* margin:0 auto; */
    display:none;
    /* transition:0.5s; */
}


/* category list */


.category-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 71%;
}
.category-item-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
}
.category-item-con .item-tag{
    width: 100%;
    margin-bottom:30px;
}
.category-item{
    width: 100%;
    margin: 10px;
    position:relative;
}
.category-item img{
    width: 100%;
}

@media( max-width: 1279px ){
    .category{
        width:95%;
        /* border: 1px solid; */
    }
    .category-item-con{
        width: 32%;
    }
    .category-nav-con{
        width: 20%;
    }
    .category-nav{
        margin-right: 2em;
        /* border: 1px solid; */
    }
    .best-category a{
        font-size: 1.2em;
    }
    .category-list{
        width: 100%;
    }
}
    
@media( max-width: 991px ){
    .category{
        width:90%;
        margin: 0 auto;
    }
    .category-nav-con{
        display:none;
    }

    #category-select{
        display:block;
    }
    main{
        margin-top: -5em;
    }

}

@media( max-width: 767px ){
    .category-item-con{
        width: 48%;
    }
    .category-header h2{
        text-align: center;
    }
    .size-search{
        margin-bottom:3em;
        justify-content: center;
    }
    .category-search input[type="search"]{
        left:50%; bottom:0.2em;
        transform: translateX(-50%);
        width:200px;
    }
    .category-search input[type="submit"]{
        left:calc(50% + 65px); bottom:0.2em;
    }
    #category-select{
        margin: 3em auto;
    }
    main{
        margin-top: -8em;
    }
}
