@charset "utf-8";
@import url('common.css');

.material-icons{
    cursor: default;
}

/* category-nav */
.category{
    margin-top: 130px;
    display: flex;
    width: 90%;
}
.category-nav-con{
    width: 28%;
    display: flex;
    justify-content: flex-end;
}
.category-nav{
    text-align: center;
    /* margin:3em; */
    margin-top: 8em;
    line-height: 2em;
    margin-right: 4em;
}
.category-nav a.sum:hover{
    font-weight: bold;
    text-decoration: underline;
}
/* 검색 */

.category-search{
    margin-left:auto;
    position:relative;
}
.category-search input[type="search"]{
    border: 0;
    border-bottom: 2px solid;
    right:0.2em; bottom:0;
    position: absolute;
}
.category-search input[type="search"]:focus{
    outline:none;
}
.category-search input[type="submit"]{
    position:absolute;
    right:-0.2em; bottom:0;
    background: none;
    border:0;
}
.category-search input[type="submit"]:hover{
    color:lightgray;
}

/* 선택상자 */
#category-select{
    border: 0;
    border-bottom:1px solid;
    font-size: 1.2em;
    padding:0.5em;
    margin-bottom: 3em;
    /* margin:0 auto; */
    display:none;
    /* transition:0.5s; */
}
label[for="category-select"]{
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
}

/* category list */


.category-list{
    width: 71%;
}
.category-item-cons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
}
.category-item-con:hover .item-tag{
    font-weight: bold;
}
.category-item-con:hover img{
    border: 1px solid;
    transform: scale(1.04);
}
.category-item-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
    
}
.category-item-con .item-tag{
    width: 100%;
    margin-bottom:30px;
}
.category-item{
    width: 100%;
    margin: 10px;
    position:relative;
}
.category-item img{
    width: 100%;
    transition: 0.3s;
}

@media( max-width: 1279px ){
    .category{
        width:95%;
        /* border: 1px solid; */
    }
    .category-item-con{
        width: 32%;
    }
    .category-nav-con{
        width: 20%;
    }
    .category-nav{
        margin-right: 2em;
        /* border: 1px solid; */
    }
    .best-category a{
        font-size: 1.2em;
    }
    .category-list{
        width: 100%;
    }
}
    
@media( max-width: 991px ){
    .category{
        width:90%;
        margin: 0 auto;
        margin-top: 130px;
    }
    .category-nav-con{
        display:none;
    }

    #category-select{
        display:block;
    }
    main{
        margin-top: -5em;
    }

}

@media( max-width: 767px ){
    .category-item-con{
        width: 48%;
    }
    .category-header h2{
        display:none;
    }
    .category-search input[type="search"]{
        left:50%; bottom:0.2em;
        transform: translateX(-50%);
        width:200px;
    }
    .category-search input[type="submit"]{
        left:calc(50% + 65px); bottom:0.2em;
    }
    #category-select{
        margin: 3em auto;
    }
    main{
        margin-top: -8em;
    }
}




/* 상품페이지 */
/* MODAL */
.sp-bg{
    position:fixed;
    top:80px;
    bottom:0;
    right:0;
    left:0;
    /* background:rgba(0,0,0,0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
    display: none;
}
.sp-bg .sp-modal{
    border: 3px solid rgba(0, 0, 0, 0.15);
    background:white;
    width:850px; height: 460px;
    text-align: center;
    position:relative;
}
.sp-content{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}
.sp-pt{
    width: 306px; height: 338px;
}

.sp-mini-pt1, .sp-mini-pt2, .sp-mini-pt3{
    width: 77px; height:85px;
    margin: 0 12.5px 10px 12.5px;
}
/* 설명 */

.sp-info{
    width: 260px;
    height: 300px;
    text-align: left;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:2em;
}
.sp-info .sp-info1 h2{
    margin-bottom: 1em;
}
.sp-info .sp-info1{
    font-size: 0.8em;
}
/* 갯수 + 가격 */
.sp-info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.sp-info2 .sp-pm{
    width: 76px; height: 23px;
    background:#f19ec2;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.sp-info2 .sp-pm div:nth-child(2){
    background:white;
    width: 34px; height: 21px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sp-info2 .sp-pm div:nth-child(1){
    font-size:1em;
    color:white;
    padding-left: 0.3em;
}
.sp-info2 .sp-pm div:nth-child(3){
    font-size:1em;
    color:white;
    padding-right: 0.3em;
}
.sp-info2 .sp-price{
    text-align: right;
    
}
.sp-info2 .sp-price p:nth-child(1){
    color:#9b9b9b;
    font-size: 0.7em;
    text-decoration: line-through;
    letter-spacing: -0.05em;
}
.sp-info2 .sp-price p:nth-child(2){
    letter-spacing: -0.05em;
    font-weight: bold;
}
.sum{
    cursor: pointer;
}
.sum:hover{
    font-weight: bold;
}
.total-price{
    font-size: 1.5em;
    text-align: right;
    font-weight: bolder;
}

/* 버튼3개 */
.sp-bt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sp-bt1{
    width:80px;
    height:30px;
    background-color: #c490bf;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.sp-bt1 p{   
    color:white;
    font-size: 0.8em;
    transition: 0.2s;
}
.sp-bt2{
    width:80px;
    height:30px;
    border: 1px solid #c490bf;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    /* transition: 0.3s; */
}
.sp-bt span{
    font-size: 1.2em;
    transition: 0.2s;
}

.sp-bt div:hover p,
.sp-bt div:hover span{
    font-weight: bold;
}
.sp-bt div:active span{
    transform:scale(0.90);
}
.sp-bt div{
    cursor: pointer;
    transition: 0.3s;
}

.modal-exit{
    width:1.3em; height:1.3em;
    position: absolute;
    top: 1em; right: 1em;
    background-image: url('../img/x.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(0.4);
}

/* 장바구니버튼 */
.cart-bt:hover span{
    color: gold;
    
}
.cart-bt:hover{
    border: 1px solid gold;
}
.cart-bt.cart{
    background-color: gold;   
    border:2px solid gold;
}
.cart-bt.cart span{
    color: black;
}


/* 좋아요버튼 */
.like-bt:hover span{
    color: pink;
}
.like-bt.liked{
    background-color: pink;   
    border:2px solid pink;
}
.like-bt.liked span{
    color: white;
}
.category-item-con .category-item span{
    position: absolute;
    top: 10px; right: 10px;
    color: pink;
    transition: 0.3s;
    display: none;
}

.category-item-con.liked .category-item span{
    display: inline;
}


.category-item-con:hover .category-item span{
    transform: scale(1.3);
}



/* 상품 이미지 변경 */
.sp-pt{
    transition: 0.3s;
}
.sp-mini-pt>div{
    transition: 0.3s;
}
.sp-mini-pt>div:hover{
    border: 1px solid pink;
    transform: scale(1.1);
    cursor: pointer;
}