@charset "utf-8";
@import url('common.css');


.signup-modal{
    /* border: 3px solid #555555; */
    background:white;
    /* width:422px; height: 450px; */
    text-align: center;
    position:relative;
    margin: 100px auto;
}


.signup-con{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.signup-con h2{
    font-size:1.5em;
    /* font-weight: bold; */
}
.signup-form{
    display: flex;
    justify-content: center;
}
.signup-form>div{
    display:flex;
    flex-direction: column;
    margin: 1em;
}
.signup-form div input{
    border: 0px;
    margin: 6px 0;
    /* font-size: */
}
input:focus {
    outline:none;
}
input[type=submit]{
    width:100px; height:30px;
    background-color:#b5b5b5;
    border:0;
    color:white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.signup-form div input{
    border-bottom: 1px solid #959595;
    text-align: right;
    width: 270px;
    font-size:0.8em;
}
#address{
    width:107px;
}
.address{
    text-align: right;
}
.address span{
    font-size: 0.5em;
    border: 1px solid #959595;
    border-radius: 9px;
    display:inline-block;
    width:50px;
    height:18px;
    text-align: center;
    color:#959595;
}