<input type="checkbox" id="burger" checked>
<label for="burger"><span>버거</span></label>
<div class="header-2">
    <div class="header-3">
        <h1 class="logo">
            <div><a href="index.html"><span>M</span>INI<SPAN>D</SPAN>ECO</a></div>
        </h1>
        <ul class="menu-1">
            <li><a href="category.html">CATEGORY</a></li>
            <li>
                COMMUNITY
                <ul class="dropdown1">
                    <li><a href="notice.html">notice</a></li>
                    <li><a href="review.html">review</a></li>
                    <li><a href="qna.html">Q&A</a></li>
                </ul>
            </li>
            <li>
                MYPAGE
                <ul class="dropdown2">
                    <li><a href="cart.html">cart</a></li>
                    <li><a href="login.html">my info</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu-2">
            <li><a href="login.html">로그인</a></li>
            <li><a href="signup.html">회원가입</a></li>
            <li><a href="">즐겨찾기</a></li>
        </ul>
    </div>
</div>